#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[uk]=
Comment=
Encoding=UTF-8
Exec=xdg-open http://linux.grusha.org.ua/wiki
GenericName[uk]=
GenericName=
Icon=start-here
MimeType=
Name[uk]=Wiki Grusha
Name[ru]=Wiki Grusha
Name=Wiki Grusha
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
